<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="NongTraiVuiVeConnectionString"
             connectionString="Data Source=103.74.117.98;Initial Catalog=Garden_Funny;User ID=Garden_Funny_User;Password=s8G@g7hQ3#;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>